.card__text {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  grid-area: text;
  margin-left: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h2 {
  margin: 0;
  padding: 0;
}
