.card__text {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: black;
  grid-area: text;
  margin-top: 25px;
  margin-left: 21px;
  margin-bottom: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
