.popup__close-button {
  background-image: url(../../../images/closebut.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  border: 0;
  position: absolute;
  height: 32px;
  width: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
