.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin: 34px 0 54px;
}

@media screen and (max-width: 1023px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
  }
}
