.card {
  width: 282px;
  height: min-content;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 25px;
  grid-template-areas:
    'image image'
    'text heart';
  position: relative;
}
